<%= render 'shared/navbar' %>



<h1>Edit Friend Group</h1>

<div class="container">

    <div class="d-flex-center">
      <h4>Add a friend_group</h4>
      <%= simple_form_for [ @friend_group ] do |f| %>
        <%= f.input :price %>
        <%= f.input :description %>
        <%= f.input :title %>
        <%= f.input :address %>
        <%= f.submit "Edit", class: "btn btn-warning" %>
      <% end %>
    </div>

</div>

<%= link_to 'Show', @friend_group, class: "btn btn-warning mr-2" %>
<%= link_to 'Back', friend_groups_path, class: "btn btn-warning" %>
