<h1>Friend Groups</h1>




    <% @friend_groups.each do |group| %>
      <ul>
        <li><%= group.title %></li>
        <li><%= link_to 'Show', group %></li>
        <li><%= link_to 'Edit', edit_friend_group_path(group) %></li>
        <li><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    <% end %>




<%= link_to 'New Group', new_friend_group_path %>
<%= link_to 'Go to Dashboard', dashboard_path(current_user.id) %>
