<%= render 'shared/navbar' %>


  <div class="index mt-15">
    <h1>Friend Groups</h1>
  </div>
 <div class="content">
  <div class="friend-cards">
    <% @friend_groups.each do |group| %>
      <%= link_to group do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(group.photo.key, :crop => :scale, :height => 420) %> ')">
          <h2><%= group.title %></h2>
        </div>
      <% end %>
    <% end %>
  </div>


      <div id="map"
        style="width: 500px; height: 715px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
</div>

