<div class="cards mt-3 mx-3">
    <div class="card-category" >
      <h1>MEET THE GROUP: </h1>
      <h3><%= @friend_group.title %></h3>

      <img src="https://images.unsplash.com/photo-1478479405421-ce83c92fb3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="group photo" />

      <p>--<%= @friend_group.description %>--</p>
      <p>Adress: <%= @friend_group.address%></p>
      <p>Price: <%= @friend_group.price %></p>
      <%= link_to "delete group ", friend_group_path(@friend_group), method: :delete, data: { confirm: "Are you sure?"}, class: "card-remove-link" %>
    </div>
</div>


<div class="card-product">
  <img src="https://images.unsplash.com/photo-1478479405421-ce83c92fb3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="group photo"" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>


<div class="container mt-5`">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Add a booking</h2>
      <%= simple_form_for [@friend_group, @booking] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :start_date, as: :string, input_html: { class: "date" } %>
          <%= f.input :end_date, as: :string, input_html: { class: "date" } %>
          <%= f.hidden_field :status, value: 'available' %>
          <%= f.input :total_price, input_html: {value: f.object.total_price || '#{total_price}'} %>
        </div>
        
        <div class="form-actions btn btn-outline-warning">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<ul class="list-group">
      <% running_tolal = 0 %>


      <% @friend_group.bookings.each do |booking| %>
        <div class="review mb-5 mt-3">
          <li class="list-group-item">
            <%= booking.start_date %>
            <p><%= booking.end_date%></p>
            <p><%= booking.total_price%></p>

          </li>
        </div>

    <% end %>
  </ul>

<div class="container mt-100 p-100`">
  <h2>Add a review</h2>
  <%= simple_form_for [@friend_group, @review] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :content %>
      <%= f.input :stars %>

    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>


<ul class="list-group">
    <% if @friend_group.reviews.nil? %>
     <% 5.times do  %>
        <span class="far fa-star"></span>
     <% end %>
    <% else %>
      <% @friend_group.reviews.each do |review| %>
        <div class="review mb-5 mt-3">
          <li class="list-group-item">
            <% review.stars.times do  %>
              <span class="fas fa-star"></span>
            <% end %>
            <% (5 - review.stars).times do  %>
              <span class="far fa-star"></span>
            <% end %>
            <p><%= review.content%></p>
          </li>
        </div>
      <% end %>
    <% end %>
  </ul>


<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-center">

        <div class="flex-between">
                  Participants:
                  <div class="actions">
                    <a class="btn round-bordered incrementer minus" data-offset="-1">-</a>
                    <span id="counter" data-count="1">1</span>
                    <a href="#" class="btn round-bordered incrementer" data-offset="1">+</a>
            </div>
        </div>

        <form>
        <input type="number" value="15000" disabled class="form-control" id="price-input" name="price-cents">
        <input type="submit" value="Pay 150€" class="btn btn-primary" id="submit">
      </form>


      <div class="container">
          <div class="row justify-content-center">
            <div class="col-sm-8 text-center">
          
    </div>
  </div>
</div>
