<div class="cards mt-3 mx-3">
    <div class="card-group" >
      <h1>MEET THE GROUP: </h1>
      <h3><%= @friend_group.title %></h3>

      <img src="https://images.unsplash.com/photo-1478479405421-ce83c92fb3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="group photo" />

      <p>--<%= @friend_group.description %>--</p>
      <p>Adress: <%= @friend_group.address%></p>
      <p>Price: <%= @friend_group.price %></p>
      <%= link_to "delete group ", friend_group_path(@friend_group), method: :delete, data: { confirm: "Are you sure?"}, class: "card-remove-link btn btn-danger" %>
      <%= link_to 'Edit', edit_friend_group_path(@friend_group), class: "card-edit-link btn btn-danger" %> |
      <%= link_to 'Back', friend_groups_path, class: "card-back-link btn btn-danger" %> |
    </div>
</div>



<div class="container mt-5`">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Add a booking</h2>
      <%= simple_form_for [@friend_group, @booking] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :start_date, as: :string, input_html: { class: "date start" } %>
          <%= f.input :end_date, as: :string, input_html: { class: "date end" } %>
          <%= f.hidden_field :status, value: 'available' %>
          <%= f.input :total_price, input_html: {value: f.object.total_price || '0', class: "total-price"} %>
        </div>
        <div class="form-actions btn btn-outline-warning">
          <%= f.button :submit%>
        </div>
      <% end %>
      <!-- <div id=result></div> -->

    </div>
  </div>
</div>

<ul class="list-group">
  <% @friend_group.bookings.each do |booking| %>
    <div class="review mb-5 mt-3">
      <li class="list-group-item">
        <%= (booking.end_date - booking.start_date).to_i %>
        <p><%= booking.end_date%></p>
        <p><%= booking.total_price%></p>
      </li>
    </div>
  <% end %>
</ul>

<div class="container mt-100 p-100`">
  <h2>Add a review</h2>
  <%= simple_form_for [@friend_group, @review] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-inputs">
      <%= f.input :content %>
      <%= f.input :stars %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>

    </div>
  <% end %>
</div>


<ul class="list-group">
    <% if @friend_group.reviews.nil? %>
     <% 5.times do  %>
        <span class="far fa-star"></span>
     <% end %>
    <% else %>
      <% @friend_group.reviews.each do |review| %>
        <div class="review mb-5 mt-3">
          <li class="list-group-item">
            <% review.stars.times do  %>
              <span class="fas fa-star"></span>
            <% end %>
            <% (5 - review.stars).times do  %>
              <span class="far fa-star"></span>
            <% end %>
            <p><%= review.content%></p>
          </li>
        </div>
      <% end %>
    <% end %>
  </ul>


