
<%= link_to 'Back', friend_groups_path, class: "card-back-link btn btn-danger" %> |


<div class="container mt-5`">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Add a booking</h2>
      <%= simple_form_for [@friend_group, @booking] do |f| %>
        <div class="form-inputs">
          <%= f.input :start_date, as: :string, input_html: { value: f.object.start_date, class: "date start" } %>
          <%= f.input :end_date, as: :string, input_html: { value: f.object.end_date, class: "date end" } %>
          <%= f.hidden_field :status, value: 'available' %>
          <%= f.input :total_price, input_html: {value: f.object.total_price || '0', class: "total-price"} %>
        </div>
        <div class="form-actions btn btn-outline-warning">
          <%= f.button :submit, value: 'confirm'%>

        </div>
      <% end %>

    </div>
  </div>
</div>
