<%= render 'shared/navbar' %>

<div class="row mt-5">

<div class="col-6">
      <h1 clas="ml-2">MY BOOKINGS</h1>

  <% @sum = 1 %>
  <% @bookings.each do |booking| %>
    <div class="card-product ">
      <img src='<%= cl_image_path(booking.friend_group.photo.key, :crop => :scale, :height => 420) %> ' alt="group photo" />
      <div class="card-product-infos">
        <h3><%= @sum%></h3>
        <h2><%= booking.friend_group[:title] %></h2>
        <p><%= booking.friend_group.description %></p>
        <p><strong>Price: </strong> <%= booking.friend_group.price%></p>
        <p><strong>Payed Total: </strong> <%= booking.total_price %></p>
        <p><strong>Dates: </strong> <%= booking.start_date %>-<%= booking.end_date %></p>
        <p><strong>Status: </strong> <%= booking.status %></p>
        <% @sum += 1 %>
      </div>
    </div>
  <% end %>
</div>

<div class="col-6">
      <h1 class="ml-2">MY FRIEND GROUPS</h1>
  <% @sum = 1 %>
  <% @friend_groups.each do |group| %>
    <div class="card-product " id="dash-card">
      <img src='<%= cl_image_path(group.photo.key, :crop => :scale, :height => 420) %> ' alt="group photo" />
      <div class="card-product-infos" id="dash-infos">
        <h3><%= @sum%></h3>
        <h2><%= group.title %></h2>
        <p><%= group.description %></p>
        <p><strong>Price: </strong> <%= group.price%></p>
        <% @received = 0 %>

        <% group.bookings.map  do |payment| %>
          <% @received += payment.total_price.to_i %>
        <% end %>
        <% times = @friend_groups.count%>
        <p><strong>Booked </strong>  </p>
        <p><strong>Received Total: </strong> <%= @received %></p>
        <p><strong>Status: </strong></p>
        <% @sum += 1 %>
        <div class="container"></div>
        <li class= " btn btn-warning ml-2 mt-5">
          <%= link_to "Delete", friend_group_path(group), method: :delete, data: { confirm: "Are you sure?"}, class: "a" %>
        </li>
        <li class= " btn btn-warning ml-2 mt-5">
          <%= link_to 'Edit', edit_friend_group_path(group), class: "a" %>
        </li>
        <li class= " btn btn-warning ml-2 mt-5">
          <%= link_to 'Back', friend_groups_path, class: "a" %>
        </li>
      </div>
    </div>
  <% end %>
</div>

</div>


<%= link_to 'Back', friend_groups_path, class: "card-back-link btn btn-primary" %>

