<!DOCTYPE html>
<html>
  <head>
    <title>Friendly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top navbar-static-top mb-10">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-header navbar-brand">
          <%= link_to "Groups", friend_groups_path, class: "nav-link" %>
        </div>

        <ul class="nav navbar-nav">
          <li class="active"><%= link_to 'New Group', new_friend_group_path, class: "btn btn-danger" %></li>
        </ul>
        <div class="nav navbar-nav">
          <li class="active"><%= link_to 'Go to Dashboard', dashboard_path(current_user.id), class: "btn btn-danger" %></li>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
