<!DOCTYPE html>
<html>
  <head>
    <title>Friendly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon ">
      <div class="home button btn btn-warning">
        <%= link_to 'Home', friend_groups_path , class: "a" %>

      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item user">
          <% if current_user %>
            <li class= " btn btn-warning ml-2">
              <%= link_to 'Dashboard', dashboard_path(current_user.id), class: "a" %>
            </li>
            <li class= " btn btn-warning ml-2">
              <%= link_to 'Add New Group', new_friend_group_path, class: "a" %>
            </li>
            <li class= " btn btn-warning ml-2">
              <%= link_to 'Sign out', destroy_user_session_path, class: "a", method: :delete %>
            </li>

          <% else %>
          <li class= " btn btn-warning ml-2">
              <%= link_to 'Sign up', new_user_registration_path, class: "a" %>
            </li>
            <li class= " btn btn-warning ml-2">
              <%= link_to 'Sign in', new_user_session_path, class: "a" %>
            </li>
      </ul>
        <% end %>
    </div>
  </div>


    <p class="alert"><%= alert %></p>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
